Package: com.darwindev.CydiaX
Name: CydiaX
Version: 0.1-1
Description: Saurik loves money.
Section: Tweak
Depends: firmware (>= 11.0), mobilesubstrate
Architecture: iphoneos-arm
Author: Zheng <i.82@me.com>
Homepage: https://github.com/Lessica/CydiaX
Maintainer: Zheng <i.82@me.com>
